<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/newStyle.css" />
    <title> Create a new Post</title>
    
    
  </head>
  <body>
    <div class="newpost">
      <h1>Create new Post</h1>
    <form  method="post" action="/posts">
        <input placeholder="enter username" name="username"/> <br/> <br/>
        <textarea placeholder="write your new post" name ="content"> </textarea>

      <br/>
      <br/>

        
        <button> Submit button </button>
        <button> Back to Home</button>
    </form>
  </div>
    
   
  </body>
</html>
