<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show in Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
   
  
    <div class ="post"> 
      <h1>Here is your post details</h1>
      <br/>
      <p>Post id: <%= post.id %></p>
      <br/>
        
      <h3 class ="user">@<%=post.username %></h3> 
      <br/>
      <p  class = "content"> <%= post.content %></p>

    </div>
    <br/>
    <br/>

  </body>